/* New CSS rule set with new material design */
.parallax-full-bleed {
    display: block !important;
}
body {
    background-image: url(../resources/images/beach%20gray.jpeg);
}
/* CSS main stylesheet for my personal web page: @panteravaca */
/* Site wide styles */
/*
body {
	background: #dddddd;
	height: 100%;
	width: 100%;
}
.card {
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
}
*/
/* Blog styles */
/*
.squeeze {
    margin-top: 1%;
	margin-left: 15%;
	margin-right: 15%;
	padding-left: 10px;
	padding-right: 10px;
}


.centre-img {
   position: absolute;
   top: 20%;
   left: 50%;
   width: 200px;
   height: 200px;
   margin-top: -100px;  Half the height 
   margin-left: -100px;  Half the width 
}
*/

/*
@media screen and (min-width: 1280px){
	.loc{
		position: absolute;
		left: 50%;
		top: 35%;
		width: 20%;
		margin-left: -10%;
	}
	.card-footer{
		position: absolute;
		top: 50%;
		width: 20%;
		height: 224px;
		left: 50%;
		margin-left: -10%;
		margin-top: -112px;
	}
}
@media screen and (max-width: 1280px){
	.loc {
		position: absolute;
		left: 50%;
		top: 35%;
		width: 40%;
		margin-left: -20%;
	}
	.card-footer{
		position: absolute;
		top: 50%;
		width: 40%;
		height: 224px;
		left: 50%;
		margin-left: -20%;
		margin-top: -112px;
	}
}
*/

/* Index site styles */
/* background images taken from www.transparenttextures.com */
/*
#page-1 {
	background-color: #c0c0c0;
	background-image: url(../resources/images/cartographer.png);
	height: 100%;
}
#page-2{
	background-color: #c0c0c0;
	background-image: url(../resources/images/60-lines.png);
	height: 100%;
}
#page-3{
	background-color: #c0c0c0;
	background-image: url(../resources/images/black-linen.png);
}
#page-4 {
	background-color: #c0c0c0;
	background-image: url(../resources/images/dark-wood.png);
}
#page-5 {
    background-color: #c0c0c0;
    background-image: url(../resources/images/argyle.png);
}
#page-6{
	background-color: #c0c0c0;
	background-image: url(../resources/images/diagmonds.png);
}
*/
/*
#page-6{
	background-color: #c0c0c0;
	background-image: url(../resources/images/graphy-dark.png);
}
*/
/* Handle Links */
/*

.nolink {
	text-decoration: none;
	color: black;
	cursor: default;
}
.nolink:hover{
	text-decoration: none;
	color: black;
	cursor: default;
}
.nolink:active{
	text-decoration: none;
	color: black;
	cursor: default;
}*/
