// _basics.scss

// Opinnionated basics for matthamlin.me

a {
	text-decoration: none;
	&:hover,
	&:active {
		text-decoration: none;
	}
}

.link {
	color: $green;
	&:hover {
		color: $yellow;
	}
	&--active {
		color: $orange1;
	}
}