// _basics.scss

// Opinnionated basics for matthamlin.me

a {
	text-decoration: none;
	&:hover,
	&:active {
		text-decoration: none;
	}
}

.link {
	color: $green;
	&:hover {
		color: $yellow;
	}
	&--active {
		color: $orange1;
	}

	&--special {
		color: $picton-blue-vone;
		&:hover {
			color: $ecstasy;
		}
	}
}

.clr--blue {
    color: $blue;
}
.bg--blue {
    background-color: $blue;
}
.clr--yellow {
    color: $yellow;
}
.bg--yellow {
    background-color: $yellow;
}
.clr--green {
    color: $green;
}
.bg--green {
    background-color: $green;
}

.page, .footer, .article, .main, .menu {
    margin: 0 auto;
    @include phone {
        width: 100vw;
    }
    @include phablet {
        width: 90vw;
    }
    @include tablet {
        width: 85vw;
    }
    @include desktop {
        width: 70vw;
    }
    @include xl {
        width: 60vw;
    }
}

.inline-block {
	display: inline-block;
}

.header--menu {
	width: 100%;
	height: 10vh;
	line-height: 10vh;
	margin-bottom: 4em;
	background: linear-gradient(135deg, lighten($orange1, 20%) 0%, lighten($orange2, 20%) 100%);
}


.css-selector {
	color: #669900;
}
.css-prop {
	color: #990082;
}
.css-string {
	color: #0077AC;
}
.css-value {
	color: #5C4E53;
}
.css-specialChars {
	color: #5C4E53;
}