@mixin typography {
	$base: 16px;
	$font-1: 18px;
	$font-2: 20px;
	$font-3: 22px;
	$font-4: 24px;
	$font-5: 26px;

	$line-base: 1;
	$line-1: 1.2;
	$line-2: 1.4;
	$line-3: 1.6;
	$line-4: 1.8;
	$line-5: 2;
	
	// @import 'https://fonts.googleapis.com/css?family=Montserrat';
	@import 'https://fonts.googleapis.com/css?family=Questrial|Space+Mono';

	html {
		font-size: $base;
		line-height: $line-base;
		font-family: "Questrial", sans-serif;
		@include phone {
			font-size: $font-1;
			line-height: $line-1;
		}
		@include phablet {
			font-size: $font-2;
			line-height: $line-2;
		}
		@include tablet {
			font-size: $font-3;
			line-height: $line-3;
		}
		@include desktop {
			font-size: $font-4;
			line-height: $line-4;
		}
		@include xl {
			font-size: $font-5;
			line-height: $line-5;
		}
	}
	h1 {
		&:not(.escape--default) {
			font-size: calc((112.5% + 0.25vw) * 2.3);	
		}
	}
	h2 {
		&:not(.escape--default) {
			font-size: calc((112.5% + 0.25vw) * 1.7);
		}
	}
	h3 {
		&:not(.escape--default) {
			font-size: calc((112.5% + 0.25vw) * 1.3);
		}
	}
	h4 {
		&:not(.escape--default) {
			font-size: calc((112.5% + 0.25vw) * 0.9);
		}
	}
	h5 {
		&:not(.escape--default) { 
			font-size: calc((112.5% + 0.25vw) * 0.7);
		}
	}
	h6 {
		&:not(.escape--default) {
			font-size: calc((112.5% + 0.25vw) * 0.5);
		}
	}
	small {
		&:not(.escape--default) {
			font-size: calc((112.5% + 0.25vw) * 0.4);
		}
	}
	i, em {
		&:not(.escape--default) {
			font-style: italic;
		}
	}
	h1, h2, h3, h4, h5, h6, small, p, ul, ol {
		&:not(.escape--default) {
			margin-bottom: 0.5em;
		}
	}
	ul, ol {
		&:not(.escape--default) {
			list-style-position: inside;
		}
	}
	pre {
		font-size: 70%;
		position: relative;
		margin-bottom: 1em;
		border-right: solid 4px $green1;
		border-left: solid 4px $green1;
		font-family: "Space Mono", monospace;
		background-color: $cararra;
		padding: 0 3em 0 1em;
		&:after {
			content: attr(data-lang);
			position: absolute;
			right: 0;
			top: 0;
			padding: 0 0.25em 0.25em 0.25em;
			color: black;
			background-color: #ccc;
			z-index: 2;
			border-bottom-left-radius: 4px
		}
		&.inline-block {
			padding: 0.25em;
			display: inline-block;
			&:after{
				display: none;
			}
		}
	}
	kbd, var {
		&:not(.escape--defaults) {
			font-family: "Space Mono", monospace;
			background-color: #ccc;
			border-radius: 0.25em;
			color: $black;
			font-size: 90%;
			padding-top: 0.1em;
			padding-bottom: 0.1em;
			display: inline-block;
		}
		font-family: "Questrial", sans-serif;
		background-color: $lgray1;
		color: $black;
		font-size: 90%;
	}
	sup {
		vertical-align: super;
    font-size: smaller;
	}
	.tac {
		text-align: center;
	}
}
