@import 'reset';
@import 'breakpoints';
@import 'grid';
@import 'typography';
@import 'colors';
@import 'my_colors';
@import 'vars';
@import 'basics';


// Include the required mixins
@include typography();


html {
    background: $white; // linear-gradient(135deg, lighten($orange1, 20%) 0%, lighten($orange2, 20%) 100%);
}
.header {
    width: 100vw;
    height: 90vh;
}
.page--nav {
    min-height: 7vh;
    padding-bottom: 1em;
}
.ul--inline {
    & .li--inline {
        display: inline-block;
    }
}

.li--spacing {
    margin-bottom: 0.25em;
    list-style: none;
    background-color: $white1;
    border-left: solid 4px $purple1;
    padding: 0.125em 0.5em 0.125em .5em;
    &:not(:last-child) {
        padding: 0.125em 0.5em 0 .5em;
    }
}
.ul--nested {
    margin-left: 1em;
}
.content-header {
    margin-top: 1em;
}

.page--lead {
    padding-bottom: 0.5em;
}

.project--card {
    padding: 1em;
}














