@import "lib/_normalize.scss";
@import "_typo.scss";


.color--blue {
    color: $blue;
}
.bg--blue {
    background-color: $blue;
}
.color--yellow {
    color: $yellow;
}
.bg--yellow {
    background-color: $yellow;
}
.color--green {
    color: $green;
}
.bg--green {
    background-color: $green;
}

.header {
    height: 100vh;
    width: 100vw;
}
.header--title {
    position: absolute;
    left: calc(50vw - 50%);
    top: calc(50vh - 50%);
}
