@import 'reset';
@import 'breakpoints';
@import 'grid';
@import 'typography';
@import 'colors';
@import 'my_colors';
@import 'vars';
@import 'basics';


// Include the required mixins
@include typography();


html {
    background-color: $white;
    color: $black; 
}

.page {
    margin-bottom: 2em;
}
.article--header {
    text-align: left;
    border-bottom: solid 2px currentColor;
    margin-bottom: 2em;
}
.title {
    margin-bottom: 1em;
}
.article {
    font-weight: 200;
}

.bq {
    background-color: $lgray2;
    border-right: solid 4px $teal1;
    border-left: solid 4px $teal1;
    padding: 0.5em 2em;
    margin-bottom: 1em;
}

.li--spacing {
    margin-bottom: 0.25em;
    list-style: none;
    background-color: $white1;
    border-left: solid 4px $purple1;
    padding: 0.125em 0.5em 0.125em .5em;
    &:not(:last-child) {
        padding: 0.125em 0.5em 0 .5em;
    }
}

.figure {
    max-width: 100%;
    & .img {
        width: 100%;
        height: auto;
        box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    }
}

.video {
    max-width: 100%;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}

@import 'posts/my_new_website';