html {
  background-color: #ffffff;
  color: #000000;
}

.page {
  margin-bottom: 2rem;
}
.article--header {
  text-align: left;
  border-bottom: solid 2px currentColor;
  margin-bottom: 2rem;
}
.title {
  margin-bottom: 1rem;
}
.article {
  font-weight: 200;
}

.bq {
  background-color: #CCD1D1;
  border-right: solid 4px #A3E4D7;
  border-left: solid 4px #A3E4D7;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
}

.li--spacing {
  margin-bottom: 0.25rem;
  list-style: none;
  background-color: #F7F9F9;
  border-left: solid 4px #D7BDE2;
  padding: 0.125rem 0.5rem 0.125rem .5rem;
}
.li--spacing:not(:last-child) {
	padding: 0.125rem 0.5rem 0 .5rem;
}

.figure {
  max-width: 100%;
}
.figure .img {
	width: 100%;
	height: auto;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.video, [css-video]{
  width: 100%;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}
[css-youtube] {
	min-height: 300px;
}

[css-card] {
	padding: 1rem;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	box-shadow: 0 0 1rem 0 #D1E2FB;
	margin-bottom: 1rem;
}

/*
	Blog Post specific css
*/

/*
	My New Website css
*/

.swatch {
	border-radius: 4px;
	margin: 0.25rem;
}
.r1 {
	background-color: #E6B0AA;
}
.r2 {
	background-color: #F5B7B1;
}
.p1 {
	background-color: #D7BDE2;
}
.p2 {
	background-color: #D2B4DE;
}
.b1 {
	background-color: #A9CCE3;
}
.b2 {
	background-color: #AED6F1;
}
.t1 {
	background-color: #A3E4D7;
}
.t2 {
	background-color: #A2D9CE;
}
.g1 {
	background-color: #A9DFBF;
}
.g2 {
	background-color: #ABEBC6;
}
.y1 {
	background-color: #F9E79F;
}
.y2 {
	background-color: #FAD7A0;
}
.o1 {
	background-color: #F5CBA7;
}
.o2 {
	background-color: #EDBB99;
}
.w1 {
	background-color: #F7F9F9;
}
.w2 {
	background-color: #E5E7E9;
}
.lg1 {
	background-color: #D5DBDB;
}
.lg2 {
	background-color: #CCD1D1;
}
.dg1 {
	background-color: #AEB6BF;
}
.dg2 {
	background-color: #ABB2B9;
}

/*
	Weekend Projects 3
*/
[css-label] {
	width: 4rem;
	height: 2rem;
	border-radius: 25%/50%;
	position: relative;
	background-color: #ECF0F1;
	z-index: 1;
	overflow: hidden;
	box-shadow: 0 0 .25rem rgba(0,0,0,.2);
	display: inline-block;
}
[css-toggle] {
	outline: none;
	-moz-appearance: none;
	     appearance: none;
	-webkit-appearance: none;
	position: absolute;
	width: 2rem;
	height: 2rem;
	background-color: #ECF0F1;
	border-radius: 50%;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
[css-toggle]:checked {
	left: 2rem;
	background-color: #26C281;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	box-shadow: 0 0 .25rem rgba(0,0,0,.3);
}
[css-toggle]:after {
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	width: 4rem;
	background-color: #BDC3C7;
	content: '';
	display: inline-block;
	z-index: -1;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Bvc3RzLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUErQkE7RUFDRSwwQkFBK0I7RUFDL0IsZUFBb0I7Q0FDckI7O0FBRUQ7RUFDRSxvQkFBb0I7Q0FDckI7QUFDRDtFQUNFLGlCQUFpQjtFQUNqQixzQ0FBc0M7RUFDdEMsb0JBQW9CO0NBQ3JCO0FBQ0Q7RUFDRSxvQkFBb0I7Q0FDckI7QUFDRDtFQUNFLGlCQUFpQjtDQUNsQjs7QUFFRDtFQUNFLDBCQUFnQztFQUNoQyxnQ0FBcUM7RUFDckMsK0JBQW9DO0VBQ3BDLHFCQUFxQjtFQUNyQixvQkFBb0I7Q0FDckI7O0FBRUQ7RUFDRSx1QkFBdUI7RUFDdkIsaUJBQWlCO0VBQ2pCLDBCQUFnQztFQUNoQywrQkFBc0M7RUFDdEMsd0NBQXdDO0NBQ3pDO0FBQ0Q7Q0FDQyxpQ0FBaUM7Q0FDakM7O0FBRUQ7RUFDRSxnQkFBZ0I7Q0FDakI7QUFDRDtDQUNDLFlBQVk7Q0FDWixhQUFhO0NBQ2IsMENBQTBDO0NBQzFDOztBQUVEO0VBQ0UsWUFBWTtFQUNaLHlDQUF5QztDQUMxQztBQUNEO0NBQ0Msa0JBQWtCO0NBQ2xCOztBQUVEO0NBQ0MsY0FBYztDQUNkLG1CQUFtQjtDQUNuQixxQkFBYztDQUFkLHFCQUFjO0NBQWQsY0FBYztDQUNkLHlCQUF3QjtLQUF4QixzQkFBd0I7U0FBeEIsd0JBQXdCO0NBQ3hCLDBCQUFvQjtLQUFwQix1QkFBb0I7U0FBcEIsb0JBQW9CO0NBQ3BCLFlBQVk7Q0FDWiwrQkFBMEM7Q0FDMUMsb0JBQW9CO0NBQ3BCOztBQUVEOztFQUVFOztBQUVGOztFQUVFOztBQUVGO0NBQ0MsbUJBQW1CO0NBQ25CLGdCQUFnQjtDQUNoQjtBQUNEO0NBQ0MsMEJBQThCO0NBQzlCO0FBQ0Q7Q0FDQywwQkFBOEI7Q0FDOUI7QUFDRDtDQUNDLDBCQUFpQztDQUNqQztBQUNEO0NBQ0MsMEJBQWlDO0NBQ2pDO0FBQ0Q7Q0FDQywwQkFBK0I7Q0FDL0I7QUFDRDtDQUNDLDBCQUErQjtDQUMvQjtBQUNEO0NBQ0MsMEJBQStCO0NBQy9CO0FBQ0Q7Q0FDQywwQkFBK0I7Q0FDL0I7QUFDRDtDQUNDLDBCQUFnQztDQUNoQztBQUNEO0NBQ0MsMEJBQWdDO0NBQ2hDO0FBQ0Q7Q0FDQywwQkFBaUM7Q0FDakM7QUFDRDtDQUNDLDBCQUFpQztDQUNqQztBQUNEO0NBQ0MsMEJBQWlDO0NBQ2pDO0FBQ0Q7Q0FDQywwQkFBaUM7Q0FDakM7QUFDRDtDQUNDLDBCQUFnQztDQUNoQztBQUNEO0NBQ0MsMEJBQWdDO0NBQ2hDO0FBQ0Q7Q0FDQywwQkFBZ0M7Q0FDaEM7QUFDRDtDQUNDLDBCQUFnQztDQUNoQztBQUNEO0NBQ0MsMEJBQWdDO0NBQ2hDO0FBQ0Q7Q0FDQywwQkFBZ0M7Q0FDaEM7O0FBRUQ7O0VBRUU7QUFDRjtDQUNDLFlBQVk7Q0FDWixhQUFhO0NBQ2IsdUJBQXVCO0NBQ3ZCLG1CQUFtQjtDQUNuQiwwQkFBb0M7Q0FDcEMsV0FBVztDQUNYLGlCQUFpQjtDQUNqQixzQ0FBc0M7Q0FDdEMsc0JBQXNCO0NBQ3RCO0FBQ0Q7Q0FDQyxjQUFjO0NBQ2Qsc0JBQWlCO01BQWpCLGlCQUFpQjtDQUNqQix5QkFBeUI7Q0FDekIsbUJBQW1CO0NBQ25CLFlBQVk7Q0FDWixhQUFhO0NBQ2IsMEJBQW9DO0NBQ3BDLG1CQUFtQjtDQUNuQixPQUFPO0NBQ1AsUUFBUTtDQUNSLFdBQVc7Q0FDWCxVQUFVO0NBQ1Ysd0NBQWdDO0NBQWhDLGdDQUFnQztDQUNoQztBQUNEO0NBQ0MsV0FBVztDQUNYLDBCQUErQjtDQUMvQix3Q0FBZ0M7Q0FBaEMsZ0NBQWdDO0NBQ2hDLHNDQUFzQztDQUN0QztBQUNEO0NBQ0MsbUJBQW1CO0NBQ25CLFVBQVU7Q0FDVixPQUFPO0NBQ1AsVUFBVTtDQUNWLFlBQVk7Q0FDWiwwQkFBbUM7Q0FDbkMsWUFBWTtDQUNaLHNCQUFzQjtDQUN0QixZQUFZO0NBQ1oiLCJmaWxlIjoicG9zdC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyI6cm9vdCB7XG5cdC0tcmVkMTogI0U2QjBBQTtcbiAgLS1yZWQyOiAjRjVCN0IxO1xuXHQtLXB1cnBsZTE6ICNEN0JERTI7XG5cdC0tcHVycGxlMjogI0QyQjRERTtcblx0LS1ibHVlMTogI0E5Q0NFMztcblx0LS1ibHVlMjogI0FFRDZGMTtcblx0LS10ZWFsMTogI0EzRTRENztcblx0LS10ZWFsMjogI0EyRDlDRTtcblx0LS1ncmVlbjE6ICNBOURGQkY7XG5cdC0tZ3JlZW4yOiAjQUJFQkM2O1xuXHQtLXllbGxvdzE6ICNGOUU3OUY7XG5cdC0teWVsbG93MjogI0ZBRDdBMDtcblx0LS1vcmFuZ2UxOiAjRjVDQkE3O1xuXHQtLW9yYW5nZTI6ICNFREJCOTk7XG5cdC0td2hpdGUxOiAjRjdGOUY5O1xuXHQtLXdoaXRlMjogI0U1RTdFOTtcblx0LS1sZ3JheTE6ICNENURCREI7XG5cdC0tbGdyYXkyOiAjQ0NEMUQxO1xuXHQtLWRncmF5MTogI0FFQjZCRjtcblx0LS1kZ3JheTI6ICNBQkIyQjk7XG5cdC0td2hpdGU6ICNmZmZmZmY7XG5cdC0tYmxhY2s6ICMwMDAwMDA7XG5cdFxuXHQtLWdyZWVuOiAjMjZDMjgxO1xuXHQtLWRhcmstZ3JheTogI0JEQzNDNztcblx0LS1saWdodC1ncmF5OiAjRUNGMEYxO1xuXHQtLWJsdWU6ICNFNEYxRkU7XG5cdC0taGF3a2VzLWJsdWU6ICNEMUUyRkI7XG59XG5cbmh0bWwge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS13aGl0ZSk7XG4gIGNvbG9yOiB2YXIoLS1ibGFjayk7XG59XG5cbi5wYWdlIHtcbiAgbWFyZ2luLWJvdHRvbTogMnJlbTtcbn1cbi5hcnRpY2xlLS1oZWFkZXIge1xuICB0ZXh0LWFsaWduOiBsZWZ0O1xuICBib3JkZXItYm90dG9tOiBzb2xpZCAycHggY3VycmVudENvbG9yO1xuICBtYXJnaW4tYm90dG9tOiAycmVtO1xufVxuLnRpdGxlIHtcbiAgbWFyZ2luLWJvdHRvbTogMXJlbTtcbn1cbi5hcnRpY2xlIHtcbiAgZm9udC13ZWlnaHQ6IDIwMDtcbn1cblxuLmJxIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tbGdyYXkyKTtcbiAgYm9yZGVyLXJpZ2h0OiBzb2xpZCA0cHggdmFyKC0tdGVhbDEpO1xuICBib3JkZXItbGVmdDogc29saWQgNHB4IHZhcigtLXRlYWwxKTtcbiAgcGFkZGluZzogMC41cmVtIDJyZW07XG4gIG1hcmdpbi1ib3R0b206IDFyZW07XG59XG5cbi5saS0tc3BhY2luZyB7XG4gIG1hcmdpbi1ib3R0b206IDAuMjVyZW07XG4gIGxpc3Qtc3R5bGU6IG5vbmU7XG4gIGJhY2tncm91bmQtY29sb3I6IHZhcigtLXdoaXRlMSk7XG4gIGJvcmRlci1sZWZ0OiBzb2xpZCA0cHggdmFyKC0tcHVycGxlMSk7XG4gIHBhZGRpbmc6IDAuMTI1cmVtIDAuNXJlbSAwLjEyNXJlbSAuNXJlbTtcbn1cbi5saS0tc3BhY2luZzpub3QoOmxhc3QtY2hpbGQpIHtcblx0cGFkZGluZzogMC4xMjVyZW0gMC41cmVtIDAgLjVyZW07XG59XG5cbi5maWd1cmUge1xuICBtYXgtd2lkdGg6IDEwMCU7XG59XG4uZmlndXJlIC5pbWcge1xuXHR3aWR0aDogMTAwJTtcblx0aGVpZ2h0OiBhdXRvO1xuXHRib3gtc2hhZG93OiAwIDAgMXJlbSAwIHJnYmEoMCwgMCwgMCwgMC4yKTtcbn1cblxuLnZpZGVvLCBbY3NzLXZpZGVvXXtcbiAgd2lkdGg6IDEwMCU7XG4gIGJveC1zaGFkb3c6IDAgMCAxZW0gMCByZ2JhKDAsIDAsIDAsIDAuMik7XG59XG5bY3NzLXlvdXR1YmVdIHtcblx0bWluLWhlaWdodDogMzAwcHg7XG59XG5cbltjc3MtY2FyZF0ge1xuXHRwYWRkaW5nOiAxcmVtO1xuXHR0ZXh0LWFsaWduOiBjZW50ZXI7XG5cdGRpc3BsYXk6IGZsZXg7XG5cdGp1c3RpZnktY29udGVudDogY2VudGVyO1xuXHRhbGlnbi1pdGVtczogY2VudGVyO1xuXHR3aWR0aDogMTAwJTtcblx0Ym94LXNoYWRvdzogMCAwIDFyZW0gMCB2YXIoLS1oYXdrZXMtYmx1ZSk7XG5cdG1hcmdpbi1ib3R0b206IDFyZW07XG59XG5cbi8qXG5cdEJsb2cgUG9zdCBzcGVjaWZpYyBjc3NcbiovXG5cbi8qXG5cdE15IE5ldyBXZWJzaXRlIGNzc1xuKi9cblxuLnN3YXRjaCB7XG5cdGJvcmRlci1yYWRpdXM6IDRweDtcblx0bWFyZ2luOiAwLjI1cmVtO1xufVxuLnIxIHtcblx0YmFja2dyb3VuZC1jb2xvcjogdmFyKC0tcmVkMSk7XG59XG4ucjIge1xuXHRiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1yZWQyKTtcbn1cbi5wMSB7XG5cdGJhY2tncm91bmQtY29sb3I6IHZhcigtLXB1cnBsZTEpO1xufVxuLnAyIHtcblx0YmFja2dyb3VuZC1jb2xvcjogdmFyKC0tcHVycGxlMik7XG59XG4uYjEge1xuXHRiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1ibHVlMSk7XG59XG4uYjIge1xuXHRiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1ibHVlMik7XG59XG4udDEge1xuXHRiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS10ZWFsMSk7XG59XG4udDIge1xuXHRiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS10ZWFsMik7XG59XG4uZzEge1xuXHRiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1ncmVlbjEpO1xufVxuLmcyIHtcblx0YmFja2dyb3VuZC1jb2xvcjogdmFyKC0tZ3JlZW4yKTtcbn1cbi55MSB7XG5cdGJhY2tncm91bmQtY29sb3I6IHZhcigtLXllbGxvdzEpO1xufVxuLnkyIHtcblx0YmFja2dyb3VuZC1jb2xvcjogdmFyKC0teWVsbG93Mik7XG59XG4ubzEge1xuXHRiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1vcmFuZ2UxKTtcbn1cbi5vMiB7XG5cdGJhY2tncm91bmQtY29sb3I6IHZhcigtLW9yYW5nZTIpO1xufVxuLncxIHtcblx0YmFja2dyb3VuZC1jb2xvcjogdmFyKC0td2hpdGUxKTtcbn1cbi53MiB7XG5cdGJhY2tncm91bmQtY29sb3I6IHZhcigtLXdoaXRlMik7XG59XG4ubGcxIHtcblx0YmFja2dyb3VuZC1jb2xvcjogdmFyKC0tbGdyYXkxKTtcbn1cbi5sZzIge1xuXHRiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1sZ3JheTIpO1xufVxuLmRnMSB7XG5cdGJhY2tncm91bmQtY29sb3I6IHZhcigtLWRncmF5MSk7XG59XG4uZGcyIHtcblx0YmFja2dyb3VuZC1jb2xvcjogdmFyKC0tZGdyYXkyKTtcbn1cblxuLypcblx0V2Vla2VuZCBQcm9qZWN0cyAzXG4qL1xuW2Nzcy1sYWJlbF0ge1xuXHR3aWR0aDogNHJlbTtcblx0aGVpZ2h0OiAycmVtO1xuXHRib3JkZXItcmFkaXVzOiAyNSUvNTAlO1xuXHRwb3NpdGlvbjogcmVsYXRpdmU7XG5cdGJhY2tncm91bmQtY29sb3I6IHZhcigtLWxpZ2h0LWdyYXkpO1xuXHR6LWluZGV4OiAxO1xuXHRvdmVyZmxvdzogaGlkZGVuO1xuXHRib3gtc2hhZG93OiAwIDAgLjI1cmVtIHJnYmEoMCwwLDAsLjIpO1xuXHRkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG59XG5bY3NzLXRvZ2dsZV0ge1xuXHRvdXRsaW5lOiBub25lO1xuXHRhcHBlYXJhbmNlOiBub25lO1xuXHQtd2Via2l0LWFwcGVhcmFuY2U6IG5vbmU7XG5cdHBvc2l0aW9uOiBhYnNvbHV0ZTtcblx0d2lkdGg6IDJyZW07XG5cdGhlaWdodDogMnJlbTtcblx0YmFja2dyb3VuZC1jb2xvcjogdmFyKC0tbGlnaHQtZ3JheSk7XG5cdGJvcmRlci1yYWRpdXM6IDUwJTtcblx0dG9wOiAwO1xuXHRsZWZ0OiAwO1xuXHRwYWRkaW5nOiAwO1xuXHRtYXJnaW46IDA7XG5cdHRyYW5zaXRpb246IGFsbCAuNXMgZWFzZS1pbi1vdXQ7XG59XG5bY3NzLXRvZ2dsZV06Y2hlY2tlZCB7XG5cdGxlZnQ6IDJyZW07XG5cdGJhY2tncm91bmQtY29sb3I6IHZhcigtLWdyZWVuKTtcblx0dHJhbnNpdGlvbjogYWxsIC41cyBlYXNlLWluLW91dDtcblx0Ym94LXNoYWRvdzogMCAwIC4yNXJlbSByZ2JhKDAsMCwwLC4zKTtcbn1cbltjc3MtdG9nZ2xlXTphZnRlciB7XG5cdHBvc2l0aW9uOiBhYnNvbHV0ZTtcblx0bGVmdDogNTAlO1xuXHR0b3A6IDA7XG5cdGJvdHRvbTogMDtcblx0d2lkdGg6IDRyZW07XG5cdGJhY2tncm91bmQtY29sb3I6IHZhcigtLWRhcmstZ3JheSk7XG5cdGNvbnRlbnQ6ICcnO1xuXHRkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG5cdHotaW5kZXg6IC0xO1xufSJdfQ== */