@import "https://fonts.googleapis.com/css?family=Roboto:300,400|Space+Mono";
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Mobile first queries */
/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
.grid {
  display: flex;
}
.grid-row {
  flex-direction: row;
}
.grid-column {
  flex-direction: column;
}
.grid-row-reverse {
  flex-direction: row-reverse;
}
.grid-column-reverse {
  flex-direction: column-reverse;
}
.grid-wrap {
  flex-wrap: wrap;
}
.grid-nowrap {
  flex-wrap: nowrap;
}
.grid-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.grid-justify-start {
  justify-content: flex-start;
}
.grid-justify-end {
  justify-content: flex-end;
}
.grid-justify-center {
  justify-content: center;
}
.grid-justify-between {
  justify-content: space-between;
}
.grid-justify-around {
  justify-content: space-around;
}
.grid-align-items-start {
  align-items: flex-start;
}
.grid-align-items-end {
  align-items: flex-end;
}
.grid-align-items-center {
  align-items: center;
}
.grid-align-items-stretch {
  align-items: stretch;
}
.grid-align-items-baseline {
  align-items: baseline;
}
.grid-align-content-start {
  align-content: flex-start;
}
.grid-align-content-end {
  align-content: flex-end;
}
.grid-align-content-center {
  align-content: center;
}
.grid-align-content-stretch {
  align-content: stretch;
}
.grid-align-content-between {
  align-content: space-between;
}
.grid-align-content-around {
  align-content: space-around;
}

.item-align-start {
  align-self: flex-start;
}
.item-align-end {
  align-self: flex-end;
}
.item-align-center {
  align-self: center;
}
.item-align-baseline {
  align-self: baseline;
}
.item-align-stretch {
  align-self: stretch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal--center {
  width: 100%;
  text-align: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a {
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: none;
}

.link {
  color: #2ECC71;
}
.link:hover {
  color: #F4D03F;
}
.link:visited:not(.link--active):not(.link--special) {
  color: #AED6F1;
}
.link:visited:not(.link--active):not(.link--special):hover {
  color: #FAD7A0;
}
.link--active {
  color: #F5CBA7;
}
.link--special {
  color: #59ABE3;
}
.link--special:hover {
  color: #F9690E;
}

.clr--blue {
  color: #4A90E2;
}

.bg--blue {
  background-color: #4A90E2;
}

.clr--yellow {
  color: #F4D03F;
}

.bg--yellow {
  background-color: #F4D03F;
}

.clr--green {
  color: #2ECC71;
}

.bg--green {
  background-color: #2ECC71;
}

.page, .footer, .main, .menu {
  margin: 0 auto;
}
@media screen and (min-width: 16.667em) {
  .page, .footer, .main, .menu {
    width: 100vw;
  }
}
@media screen and (min-width: 22.197em) {
  .page, .footer, .main, .menu {
    width: 90vw;
  }
}
@media screen and (min-width: 31.25em) {
  .page, .footer, .main, .menu {
    width: 85vw;
  }
}
@media screen and (min-width: 41.667em) {
  .page, .footer, .main, .menu {
    width: 70vw;
  }
}
@media screen and (min-width: 50em) {
  .page, .footer, .main, .menu {
    width: 60vw;
  }
}

.inline-block {
  display: inline-block;
}

.header--menu {
  width: 100%;
  height: 10vh;
  line-height: 10vh;
  margin-bottom: 4em;
  background: linear-gradient(135deg, #e1f4e8 0%, #e9faf0 100%);
  box-shadow: 0px 4px 50px #D1E2FB;
}
.header--menu .menu {
  overflow-y: scroll;
  white-space: nowrap;
}
.header--menu .menu .articleName {
  border-bottom: solid 2px #A9CCE3;
}

.css-selector {
  color: #669900;
}

.css-prop {
  color: #990082;
}

.css-string {
  color: #0077AC;
}

.css-value {
  color: #5C4E53;
}

.css-specialChars {
  color: #5C4E53;
}

html {
  font-size: calc(0.75em + 1vw);
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
@media screen and (min-width: 16.667em) {
  html {
    line-height: 1.1;
  }
}
@media screen and (min-width: 22.197em) {
  html {
    line-height: 1.2;
  }
}
@media screen and (min-width: 31.25em) {
  html {
    line-height: 1.4;
  }
}
@media screen and (min-width: 41.667em) {
  html {
    line-height: 1.5;
  }
}
@media screen and (min-width: 50em) {
  html {
    line-height: 1.6;
  }
}

h1 {
  font-weight: 400;
}
h1:not(.escape--default) {
  font-size: calc(calc(0.75em + 1vw) * 1.7);
}

h2 {
  font-weight: 400;
}
h2:not(.escape--default) {
  font-size: calc(calc(0.75em + 1vw) * 1.4);
}

h3 {
  font-weight: 400;
}
h3:not(.escape--default) {
  font-size: calc(calc(0.75em + 1vw) * 1.1);
}

h4 {
  font-weight: 400;
}
h4:not(.escape--default) {
  font-size: calc(calc(0.75em + 1vw) * 0.8);
}

h5 {
  font-weight: 400;
}
h5:not(.escape--default) {
  font-size: calc(calc(0.75em + 1vw) * 0.7);
}

h6 {
  font-weight: 400;
}
h6:not(.escape--default) {
  font-size: calc(calc(0.75em + 1vw) * 0.6);
}

small:not(.escape--default) {
  font-size: calc(calc(0.75em + 1vw) * 0.5);
}

i:not(.escape--default), em:not(.escape--default) {
  font-style: italic;
}
i.escape--default, em.escape--default {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
}

h1:not(.escape--default), h2:not(.escape--default), h3:not(.escape--default), h4:not(.escape--default), h5:not(.escape--default), h6:not(.escape--default), small:not(.escape--default), p:not(.escape--default), ul:not(.escape--default), ol:not(.escape--default) {
  margin-bottom: 1em;
}
h1.escape--default, h2.escape--default, h3.escape--default, h4.escape--default, h5.escape--default, h6.escape--default, small.escape--default, p.escape--default, ul.escape--default, ol.escape--default {
  margin: 0 0 .25em 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
}

ul:not(.escape--default), ol:not(.escape--default) {
  list-style-position: inside;
}

pre {
  font-size: 70%;
  position: relative;
  margin-bottom: 1em;
  border-right: solid 4px #A9DFBF;
  border-left: solid 4px #A9DFBF;
  font-family: "Space Mono", monospace;
  background-color: #F2F1EF;
  padding: 0 3em 0 1em;
}
pre:after {
  content: attr(data-lang);
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 0.25em 0.25em 0.25em;
  color: black;
  background-color: #ccc;
  z-index: 2;
  border-bottom-left-radius: 4px;
}
pre.inline-block {
  padding: 0.25em;
  display: inline-block;
}
pre.inline-block:after {
  display: none;
}

kbd, var {
  font-family: "Questrial", sans-serif;
  background-color: #D5DBDB;
  color: #4E4F4C;
  font-size: 90%;
}
kbd:not(.escape--defaults), var:not(.escape--defaults) {
  font-family: "Space Mono", monospace;
  background-color: #ccc;
  border-radius: 0.25em;
  color: #4E4F4C;
  font-size: 90%;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  display: inline-block;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.tac {
  text-align: center;
}

[data-footnote] {
  position: relative;
}
[data-footnote]:hover:after {
  animation: fade-in 1s ease-in-out;
  content: attr(data-footnote);
  font-size: calc(calc(0.75em + 1vw) * 0.5);
  padding: 1em 1em 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom: solid 1em #A3E4D7;
  background-color: #F5CBA7;
  color: #4E4F4C;
  min-width: 15em;
  position: absolute;
  top: 130%;
  left: 0;
  transform: translateX(-50%);
  pointer-events: none;
}

html {
  background: linear-gradient(135deg, white 0%, #fcf5f0 100%);
}

.header {
  width: 100vw;
  height: 90vh;
}

.page--nav {
  min-height: 7vh;
  padding-bottom: 1em;
}

.ul--inline .li--inline {
  display: inline-block;
}

.li--spacing {
  margin-bottom: 0.25em;
  list-style: none;
  background-color: #F7F9F9;
  border-left: solid 4px #D7BDE2;
  padding: 0.125em 0.5em 0.125em .5em;
}
.li--spacing:not(:last-child) {
  padding: 0.125em 0.5em 0 .5em;
}

.ul--nested {
  margin-left: 1em;
}

.content-header {
  margin-top: 1em;
}

.page--lead {
  padding-bottom: 0.5em;
}

.project--card {
  width: 30vw;
  padding: 1em;
}

/*# sourceMappingURL=main.css.map */
