:root {
  --white: #ffffff;
  --neutral-white: color(#FFFFFF shade(2%));
  --light-gray: color(#FFFFFF shade(8%));
  --black: #041122;
  --a: springgreen;
  --b: dodgerblue;
  --c: salmon;
  --d: #FAE352;
  --gray: color(#E8E8E8 lightness(- 50%));

  --snap: #fffc00;
  --twitter: #1da1f2;
  --messenger: #0084ff;
  --linkedin: #0077b5;
  --github: #181717;
  --chat: #7BB32E;
  --email: #E75A4D;

  --xs-bp: 16.667rem;
	--s-bp: 22.197rem;
	--m-bp: 31.250rem;
	--l-bp: 41.667rem;
	--xl-bp: 50.00rem;

  --font-size: 22px;
  --line-height: 2;

  /*
		Extendable classes
	*/
	--center: {
		display: flex;
	  justify-content: center;
	  align-items: center;
	};
  --spaced: {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  };
  --full-width: {
    width: 100%;
    height: auto;
  };
  --box-shadow: {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  };
}
@custom-media --xs-viewport (min-width: 16.667rem);
@custom-media --s-viewport (min-width: 22.197rem);
@custom-media --m-viewport (min-width: 31.250rem);
@custom-media --xm-viewport (min-width: 35rem); /* Set for width of main  */
@custom-media --l-viewport (min-width: 41.667rem);
@custom-media --xl-viewport (min-width: 50.00rem);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p, ul, ol {
  margin-top: .5em;
}
html {
  font-family: "Poppins",
               -apple-system,
               BlinkMacSystemFont,
               "Segoe UI",
               Roboto,
               Oxygen-Sans,
               Ubuntu,
               Cantarell,
               "Helvetica Neue",
               sans-serif;
  background-color: var(--neutral-white);
  color: var(--black);
  font-size: var(--font-size);
  line-height: var(--line-height);
}
body {
  position: relative;
}
h1:not(.escape--default) { font-size: 2.3rem; }
h1.escape--default { font-size: 1rem; }
h2 { font-size: 1.9rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.3rem; }
h5, p { font-size: 1rem; }
h6, small { font-size: .9rem; }

aside {
  font-size: .9rem;
  padding: 1rem;
  background-color: var(--neutral-white);
  border-left: solid 5px var(--c);
}
ins {
  background-color: var(--a);
  display: inline-flex;
  padding: .25em;
}
del {
  color: var(--gray);
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
u {
  text-decoration: none;
  border-bottom: solid 3px currentColor;
}

blink {
  animation: blink-anim 1s steps(2) infinite;
}
a:not(.escape) {
  box-sizing: border-box;
  position: relative;
  color: var(--black);
  display: inline-flex;
  overflow: hidden;
  text-decoration: none;
  margin: 0;
  border-bottom: solid 3px currentColor;
  cursor: pointer;
}
nav li + li {
  margin-left: .25em;
}
a.escape {
  text-decoration: none;
  color: var(--black);
  transition: color .5s ease;
}
a.escape:hover {
  color: var(--b);
  transition: color .5s ease;
}
a:not(.escape):hover,
a:not(.escape).active {
  animation: link-flash 2s infinite;
}

@keyframes link-flash {
  0%, 100% {
    color: var(--a);
  }
  10% { color: color(var(--a) hue(+ 36deg)); }
  20% { color: color(var(--a) hue(+ 72deg)); }
  30% { color: color(var(--a) hue(+ 108deg)); }
  40% { color: color(var(--a) hue(+ 144deg)); }
  50% { color: color(var(--a) hue(+ 180deg)); }
  60% { color: color(var(--a) hue(+ 216deg)); }
  70% { color: color(var(--a) hue(+ 252deg)); }
  80% { color: color(var(--a) hue(+ 288deg)); }
  90% { color: color(var(--a) hue(+ 324deg)); }
}

article {
  max-width: 40rem;
  margin: 0 auto 3rem;
}
main {
  padding-top: 3rem;
}
section {
  padding: 1em;
}

@keyframes blink-anim {
  from {
    visibility: hidden;
  }
}

blockquote {
  color: var(--black);
  background-color: var(--light-gray);
}
blockquote p {
  font-size: 1.2rem;
  width: 95%;
  margin: 0 auto;
}
blockquote p::before {
  content: open-quote;
  color: var(--c);
}
blockquote p::after {
  content: close-quote;
  color: var(--c);
}
blockquote cite {
  font-size: .9rem;
  color: color(var(--black) lightness(+ 20%));
  font-weight: thin;
  display: inline-block;
  width: 95%;
  margin: 0 auto;
  text-align: right;
}
blockquote cite::before {
  content: '-';
}
pre {
  background-color: var(--light-gray);
  position: relative;
  padding: 1.5em 1em;
  font-size: 80%;
  font-family: monospace;
  overflow-y: scroll;
}
pre::before {
  content: attr(data-lang);
  position: absolute;
  top: .25em;
  left: 1em;
  color: var(--black);
}
code, kbd, var {
  background-color: var(--light-gray);
  font-family: monospace;
  color: var(--gray);
  display: inline;
  padding: 0 .1em;
}

ul, ol {
  list-style-position: inside;
}

sup {
  vertical-align: super;
  font-size: .6rem;
}

/*
  Globals
*/
::-moz-selection {
  background-color: var(--d);
  color: var(--black);
}

::selection{
  background-color: var(--d);
  color: var(--black);
}

.page, .footer, .main, .menu, [data-css-container] {
  max-width: 35rem;
	margin: 0 auto;
}
.video, [data-css-video]{
  width: 100vw;
  @apply --box-shadow;
  min-height: calc(100vw / 1.75);
  height: auto;
}
[data-css-image] {
  width: 100vw;
  height: auto;
}

/*
	Grid
*/

.grid {
	display: flex;
}
.grid-row {
	flex-direction: row;
}
.grid-column {
	flex-direction: column;
}
.grid-row-reverse {
	flex-direction: row-reverse;
}
.grid-column-reverse {
	flex-direction: column-reverse;
}
.grid-wrap {
	flex-wrap: wrap;
}
.grid-wrap-reverse {
	flex-wrap: wrap-reverse;
}
.grid-nowrap {
	flex-wrap: nowrap;
}
.grid-justify-start {
	justify-content: flex-start;
}
.grid-justify-end {
	justify-content: flex-end;
}
.grid-justify-center {
	justify-content: center;
}
.grid-justify-between {
	justify-content: space-between;
}
.grid-justify-around {
	justify-content: space-around;
}
.grid-align-items-start {
	align-items: flex-start;
}
.grid-align-items-end {
	align-items: flex-end;
}
.grid-align-items-center {
	align-items: center;
}
.grid-align-items-stretch {
	align-items: stretch;
}
.grid-align-items-baseline {
	align-items: baseline;
}
.grid-align-content-start {
	align-content: flex-start;
}
.grid-align-content-end {
	align-content: flex-end;
}
.grid-align-content-center {
	align-content: center;
}
.grid-align-content-stretch {
	align-content: stretch;
}
.grid-align-content-between {
	align-content: space-between;
}
.grid-align-content-around {
	align-content: space-around;
}

.item-align-start {
	align-self: flex-start;
}
.item-align-end {
	align-self: flex-end;
}
.item-align-center {
	align-self: center;
}
.item-align-baseline {
	align-self: baseline;
}
.item-align-stretch {
	align-self: stretch;
}

.center {
  @apply --center;
}

.horizontal--center {
	width: 100%;
	text-align: center;
}


/*
  Typography
*/
[data-css-lead],
.lead {
	font-size: calc(var(--font-size) * 2);
	text-align: center;
	width: 100%;
	margin: 1em 0;
}

.tac, [data-css-tac] {
  text-align: center;
}
[data-footnote] {
  cursor: context-menu;
  position: relative;
}
[data-footnote]:hover:after {
  animation: fade-in 1s ease-in-out;
  content: attr(data-footnote);
  font-size: calc(var(--font-size) * 0.5);
  padding: .5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom: solid .5em var(--b);
  background-color: var(--neutral-white);
  color: var(--black);
  min-width: 15em;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 1;
}
[id*="fn"] {
  counter-increment: footnotes;
  position: relative;
}
[id*="fn"]:after {
  content: '';
  display: block;
}
[id*="fn"]:before {
  content: counter(footnotes);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--a);
  color: var(--white);
  height: 1rem;
  width: 1rem;
  text-align: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.inline-block {
  display: inline-block;
}


.css-selector, .code-a {
  color: #669900;
}
.css-prop, .code-b {
  color: #990082;
}
.css-string, .code-c {
  color: #0077AC;
}
.css-value, .code-d {
  color: #5C4E53;
}
.css-specialChars {
  color: #5C4E53;
}

[data-css-header] {
	@apply --center;
	width: 100vw;
  height: 75vh;
}
.header {
  width: 100vw;
  height: 90vh;
}
[data-css-nav] {
	min-height: 7vh;
  padding-bottom: 1rem;
	text-align: center;
}
[data-css-li-inline] {
	display: inline-block;
}
[data-css-ul-inline] {
	display: inline-block;
}
.ul--inline .li--inline {
  display: inline-block;
}

.li--spacing, [data-css-li], [data-css-dt] {
  margin-bottom: 0.25rem;
  list-style: none;
  border-left: solid .1rem var(--a);
  padding: 0.125rem 0.5rem 0.125rem .5rem;
}
[data-css-dd] {
  margin-bottom: 0.25rem;
  background-color: var(--neutral-white);
  border-left: solid .1rem var(--b);
  padding: 0.125rem 0.5rem 0.125rem .5rem;
  font-size: 80%;
}
.li--spacing:not(:last-child), [data-css-li]:not(:last-child), [data-css-dd]:not(:last-child), [data-css-dt]:not(:last-child) {
  padding: 0.125rem 0.5rem 0 .5rem;
}
.ul--nested {
  margin-left: 1rem;
}
.content-header {
  margin-top: 1rem;
}

.page--lead {
  padding-bottom: 0.5rem;
}

[data-css-chip] {
	padding: .2rem;
	text-align: center;
	vertical-align: -.3em;
}

[data-css-footer] {
  min-height: 20vh;
  background-color: var(--neutral-white);
  padding: 1rem;
}
[data-css-footer-nav] {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
  align-items: center;
  @media (--m-viewport) {
    flex-flow: row wrap;
  }
}

[class*="social-icon"] {
	height: 2em;
  cursor: pointer;
}
[class*="social-icon--small"] {
  height: 1em;
  cursor: pointer;
}
[class*="social-icon--snapchat"] {
	fill: var(--snap);
}
[class*="social-icon--snapchat"]:hover {
  animation: svg-fill-s 1s infinite;
}
[class*="social-icon--email"] {
	fill: var(--email);
}
[class*="social-icon--email"]:hover {
  animation: svg-fill-e 1s infinite;
}
[class*="social-icon--twitter"] {
	fill: var(--twitter);
}
[class*="social-icon--twitter"]:hover {
  animation: svg-fill-t 1s infinite;
}
[class*="social-icon--github"] {
  fill: var(--github);
}
[class*="social-icon--github"]:hover {
  animation: svg-fill-g 1s infinite;
}
[class*="social-icon--linkedin"] {
  fill: var(--linkedin);
}
[class*="social-icon--linkedin"]:hover {
  animation: svg-fill-l 1s infinite;
}
[class*="social-icon--messenger"] {
  fill: var(--messenger);
}
[class*="social-icon--messenger"]:hover {
  animation: svg-fill-m 1s infinite;
}
[class*="social-icon--chat"] {
  fill: var(--chat);
}
[class*="social-icon--chat"]:hover {
  animation: svg-fill-c 1s infinite;
}


@keyframes svg-fill-s {
  0%, 100% {
    fill: var(--snap);
  }
  10% { fill: color(var(--snap) hue(+ 36deg)); }
  20% { fill: color(var(--snap) hue(+ 72deg)); }
  30% { fill: color(var(--snap) hue(+ 108deg)); }
  40% { fill: color(var(--snap) hue(+ 144deg)); }
  50% { fill: color(var(--snap) hue(+ 180deg)); }
  60% { fill: color(var(--snap) hue(+ 216deg)); }
  70% { fill: color(var(--snap) hue(+ 252deg)); }
  80% { fill: color(var(--snap) hue(+ 288deg)); }
  90% { fill: color(var(--snap) hue(+ 324deg)); }
}
@keyframes svg-fill-e {
  0%, 100% {
    fill: var(--email);
  }
  10% { fill: color(var(--email) hue(+ 36deg)); }
  20% { fill: color(var(--email) hue(+ 72deg)); }
  30% { fill: color(var(--email) hue(+ 108deg)); }
  40% { fill: color(var(--email) hue(+ 144deg)); }
  50% { fill: color(var(--email) hue(+ 180deg)); }
  60% { fill: color(var(--email) hue(+ 216deg)); }
  70% { fill: color(var(--email) hue(+ 252deg)); }
  80% { fill: color(var(--email) hue(+ 288deg)); }
  90% { fill: color(var(--email) hue(+ 324deg)); }
}
@keyframes svg-fill-t {
  0%, 100% {
    fill: var(--twitter);
  }
  10% { fill: color(var(--twitter) hue(+ 36deg)); }
  20% { fill: color(var(--twitter) hue(+ 72deg)); }
  30% { fill: color(var(--twitter) hue(+ 108deg)); }
  40% { fill: color(var(--twitter) hue(+ 144deg)); }
  50% { fill: color(var(--twitter) hue(+ 180deg)); }
  60% { fill: color(var(--twitter) hue(+ 216deg)); }
  70% { fill: color(var(--twitter) hue(+ 252deg)); }
  80% { fill: color(var(--twitter) hue(+ 288deg)); }
  90% { fill: color(var(--twitter) hue(+ 324deg)); }
}
@keyframes svg-fill-l {
  0%, 100% {
    fill: var(--linkedin);
  }
  10% { fill: color(var(--linkedin) hue(+ 36deg)); }
  20% { fill: color(var(--linkedin) hue(+ 72deg)); }
  30% { fill: color(var(--linkedin) hue(+ 108deg)); }
  40% { fill: color(var(--linkedin) hue(+ 144deg)); }
  50% { fill: color(var(--linkedin) hue(+ 180deg)); }
  60% { fill: color(var(--linkedin) hue(+ 216deg)); }
  70% { fill: color(var(--linkedin) hue(+ 252deg)); }
  80% { fill: color(var(--linkedin) hue(+ 288deg)); }
  90% { fill: color(var(--linkedin) hue(+ 324deg)); }
}
@keyframes svg-fill-g {
  0%, 100% {
    fill: var(--github);
  }
  50% { fill: color(var(--github) lightness(+ 50%)); }
}
@keyframes svg-fill-m {
  0%, 100% {
    fill: var(--messenger);
  }
  10% { fill: color(var(--messenger) hue(+ 36deg)); }
  20% { fill: color(var(--messenger) hue(+ 72deg)); }
  30% { fill: color(var(--messenger) hue(+ 108deg)); }
  40% { fill: color(var(--messenger) hue(+ 144deg)); }
  50% { fill: color(var(--messenger) hue(+ 180deg)); }
  60% { fill: color(var(--messenger) hue(+ 216deg)); }
  70% { fill: color(var(--messenger) hue(+ 252deg)); }
  80% { fill: color(var(--messenger) hue(+ 288deg)); }
  90% { fill: color(var(--messenger) hue(+ 324deg)); }
}
@keyframes svg-fill-c {
  0%, 100% {
    fill: var(--chat);
  }
  10% { fill: color(var(--chat) hue(+ 36deg)); }
  20% { fill: color(var(--chat) hue(+ 72deg)); }
  30% { fill: color(var(--chat) hue(+ 108deg)); }
  40% { fill: color(var(--chat) hue(+ 144deg)); }
  50% { fill: color(var(--chat) hue(+ 180deg)); }
  60% { fill: color(var(--chat) hue(+ 216deg)); }
  70% { fill: color(var(--chat) hue(+ 252deg)); }
  80% { fill: color(var(--chat) hue(+ 288deg)); }
  90% { fill: color(var(--chat) hue(+ 324deg)); }
}

[data-css-emoji],
[class*="emoji-"] {
	background-size: contain;
	display: inline-block;
	height: 1em;
	width: 1em;
	vertical-align: -.1em;
}
[data-css-emoji="one"], [data-css-emoji="1"],
[class*="emoji-one"], [class*="emoji-1"], [class*="emoji-1⃣"] {
	background-image: url('/assets/css/fonts/emoji/one.png');
}
[data-css-emoji="two"], [data-css-emoji="2"],
[class*="emoji-two"], [class*="emoji-2"], [class*="emoji-2⃣"] {
	background-image: url('/assets/css/fonts/emoji/two.png');
}
[data-css-emoji="three"], [data-css-emoji="3"],
[class*="emoji-three"], [class*="emoji-3"], [class*="emoji-3⃣"] {
	background-image: url('/assets/css/fonts/emoji/three.png');
}
[data-css-emoji="four"], [data-css-emoji="4"],
[class*="emoji-four"], [class*="emoji-4"], [class*="emoji-4⃣"] {
	background-image: url('/assets/css/fonts/emoji/four.png');
}
[data-css-emoji="five"], [data-css-emoji="5"],
[class*="emoji-five"], [class*="emoji-5"], [class*="emoji-5⃣"] {
	background-image: url('/assets/css/fonts/emoji/five.png');
}
[data-css-emoji="six"], [data-css-emoji="6"],
[class*="emoji-six"], [class*="emoji-6"], [class*="emoji-6⃣"] {
	background-image: url('/assets/css/fonts/emoji/six.png');
}
[data-css-emoji="seven"], [data-css-emoji="7"],
[class*="emoji-seven"], [class*="emoji-7"], [class*="emoji-7⃣"] {
	background-image: url('/assets/css/fonts/emoji/seven.png');
}
[data-css-emoji="eight"], [data-css-emoji="8"],
[class*="emoji-eight"], [class*="emoji-8"], [class*="emoji-8⃣"] {
	background-image: url('/assets/css/fonts/emoji/eight.png');
}
[data-css-emoji="nine"], [data-css-emoji="9"],
[class*="emoji-nine"], [class*="emoji-9"], [class*="emoji-9⃣"] {
	background-image: url('/assets/css/fonts/emoji/nine.png');
}
[data-css-emoji="zero"], [data-css-emoji="0"],
[class*="emoji-zero"], [class*="emoji-0"], [class*="emoji-0⃣"] {
	background-image: url('/assets/css/fonts/emoji/zero.png');
}
[data-css-emoji="smile"],
[class*="emoji-smile"], [class*="emoji-😃"] {
	background-image: url('/assets/css/fonts/emoji/smile.png');
}
[data-css-emoji="cry"],
[class*="emoji-cry"], [class*="emoji-😢"] {
	background-image: url('/assets/css/fonts/emoji/cry.png');
}
[data-css-emoji="thinking"],
[class*="emoji-thinking"], [class*="emoji-🤔"] {
	background-image: url('/assets/css/fonts/emoji/thinking.png');
}
[data-css-emoji="fireworks"],
[class*="emoji-fireworks"], [class*="emoji-🎆"] {
	background-image: url('/assets/css/fonts/emoji/fireworks.png');
}
[data-css-emoji="point-up"],
[class*="emoji-point-up"], [class*="emoji-👆"] {
	background-image: url('/assets/css/fonts/emoji/point-up.png');
}
[data-css-emoji="point-down"],
[class*="emoji-point-down"], [class*="emoji-👇"] {
	background-image: url('/assets/css/fonts/emoji/point-down.png');
}
[data-css-emoji="sunrise"],
[class*="emoji-sunrise"], [class*="emoji-🌅"] {
	background-image: url('/assets/css/fonts/emoji/sunrise.png');
}
[data-css-emoji="sick"],
[class*="emoji-sick"], [class*="emoji-sick"] {
	background-image: url('/assets/css/fonts/emoji/sick.png');
}
[data-css-emoji="calendar"],
[class*="emoji-calendar"], [class*="emoji-📆"] {
	background-image: url('/assets/css/fonts/emoji/calendar.png');
}
[data-css-emoji="hash"], [data-css-emoji="#"],
[class*="emoji-hash"], [class*="emoji-#"], [class*="emoji-#⃣"] {
	background-image: url('/assets/css/fonts/emoji/hash.png');
}
[data-css-emoji="twitter"],
[class*="emoji-twitter"], [class*="emoji-🐦"] {
	background-image: url('/assets/css/fonts/emoji/blue-bird.png');
}
[data-css-emoji="phone"],
[class*="emoji-phone"], [class*="emoji-☎"] {
	background-image: url('/assets/css/fonts/emoji/phone.png');
}
[data-css-emoji="email"],
[class*="emoji-email"], [class*="emoji-✉"] {
	background-image: url('/assets/css/fonts/emoji/email.png');
}
[data-css-emoji="red-light"],
[class*="emoji-red-light"], [class*="emoji-🚨"] {
	background-image: url('/assets/css/fonts/emoji/red-light.png');
}
[data-css-emoji="coffee"],
[class*="emoji-coffee"], [class*="emoji-☕"] {
	background-image: url('/assets/css/fonts/emoji/coffee.png');
}
[data-css-emoji="chat"],
[class*="emoji-chat"], [class*="emoji-💬"] {
	background-image: url('/assets/css/fonts/emoji/chat.png');
}
[data-css-emoji="fbm"],
[class*="emoji-fbm"], [class*="emoji-💬"] {
	background-image: url('/assets/css/fonts/emoji/fb-messenger.png');
}


[class*="papercraft"] {
	height: 2em;
	width: 2em;
	margin: .5em;
}
[class*="papercraft-front"] {
	fill: var(--c);
}
[class*="papercraft-back"] {
	fill: var(--a);
}

[class*="header--subtitle"] {
	text-align: center;
}

.LB-wrapper a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.LB-image {
  align-self: flex-start;
  max-width: 55vw;
  height: auto;
  margin: 0 auto;
  border: 0;
  @media (--xm-viewport) {
    max-width: 30rem;
  }
}
.LB-target-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LB-target-wrapper div {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  max-width: 90vw;
  max-height: 90vh;
  z-index: 2;
}
.LB-target-wrapper img {
  align-self: flex-start;
  max-width: 90vw;
  max-height: 90vh;
}
.LB-target-wrapper::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: var(--light-gray);
}
.LB-target-wrapper:not(:target) {
  display: none;
}
.LB-caption, .LB-target-caption {
  text-align: center;
  margin: 0 0 1.5rem;
  display: block;
}


.ColorCards-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
  .ColorCards {
    width: 10em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .ColorCards-hex {
      display: inline-block;
      padding: .1em .3em;
      background-color: rgba(255, 255, 255, .7);
      color: black;
    }


/*
  svg reset
*/

.svg-reset {
  display: inline-block;
  vertical-align: middle;
}