:root {
	--red1: #E6B0AA;
  --red2: #F5B7B1;
	--purple1: #D7BDE2;
	--purple2: #D2B4DE;
	--blue1: #A9CCE3;
	--blue2: #AED6F1;
	--teal1: #A3E4D7;
	--teal2: #A2D9CE;
	--green1: #A9DFBF;
	--green2: #ABEBC6;
	--yellow1: #F9E79F;
	--yellow2: #FAD7A0;
	--orange1: #F5CBA7;
	--orange2: #EDBB99;
	--white1: #F7F9F9;
	--white2: #E5E7E9;
	--lgray1: #D5DBDB;
	--lgray2: #CCD1D1;
	--dgray1: #AEB6BF;
	--dgray2: #ABB2B9;
	--white: #ffffff;
	--black: #000000;

	--green: #26C281;
	--dark-gray: #BDC3C7;
	--light-gray: #ECF0F1;
	--blue: #E4F1FE;
	--hawkes-blue: #D1E2FB;
}

html {
  background-color: var(--white);
  color: var(--black);
}

.page {
  margin-bottom: 2rem;
}
.article--header {
  text-align: left;
  border-bottom: solid 2px currentColor;
  margin-bottom: 2rem;
  position: relative;
}
.title {
  margin-bottom: 1rem;
}
.article {
  font-weight: 200;
}

.bq {
  background-color: var(--lgray2);
  border-right: solid 4px var(--teal1);
  border-left: solid 4px var(--teal1);
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
}

.li--spacing, [css-li] {
  margin-bottom: 0.25rem;
  list-style: none;
  background-color: var(--white1);
  border-left: solid 4px var(--purple1);
  padding: 0.125rem 0.5rem 0.125rem .5rem;
}
.li--spacing:not(:last-child), [css-li]:not(:last-child) {
	padding: 0.125rem 0.5rem 0 .5rem;
}

.figure {
  max-width: 100%;
}
.figure .img {
	width: 100%;
	height: auto;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

[css-card] {
	padding: 1rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-shadow: 0 0 1rem 0 var(--hawkes-blue);
	margin-bottom: 1rem;
}

/*
	Blog Post specific css
*/

/*
	My New Website css
*/

.swatch {
	border-radius: 4px;
	margin: 0.25rem;
}
.r1 {
	background-color: var(--red1);
}
.r2 {
	background-color: var(--red2);
}
.p1 {
	background-color: var(--purple1);
}
.p2 {
	background-color: var(--purple2);
}
.b1 {
	background-color: var(--blue1);
}
.b2 {
	background-color: var(--blue2);
}
.t1 {
	background-color: var(--teal1);
}
.t2 {
	background-color: var(--teal2);
}
.g1 {
	background-color: var(--green1);
}
.g2 {
	background-color: var(--green2);
}
.y1 {
	background-color: var(--yellow1);
}
.y2 {
	background-color: var(--yellow2);
}
.o1 {
	background-color: var(--orange1);
}
.o2 {
	background-color: var(--orange2);
}
.w1 {
	background-color: var(--white1);
}
.w2 {
	background-color: var(--white2);
}
.lg1 {
	background-color: var(--lgray1);
}
.lg2 {
	background-color: var(--lgray2);
}
.dg1 {
	background-color: var(--dgray1);
}
.dg2 {
	background-color: var(--dgray2);
}

/*
	Weekend Projects 3
*/
[css-label] {
	width: 4rem;
	height: 2rem;
	border-radius: 25%/50%;
	position: relative;
	background-color: var(--light-gray);
	z-index: 1;
	overflow: hidden;
	box-shadow: 0 0 .25rem rgba(0,0,0,.2);
	display: inline-block;
}
[css-toggle] {
	outline: none;
	appearance: none;
	-webkit-appearance: none;
	position: absolute;
	width: 2rem;
	height: 2rem;
	background-color: var(--light-gray);
	border-radius: 50%;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	transition: all .5s ease-in-out;
}
[css-toggle]:checked {
	left: 2rem;
	background-color: var(--green);
	transition: all .5s ease-in-out;
	box-shadow: 0 0 .25rem rgba(0,0,0,.3);
}
[css-toggle]:after {
	position: absolute;
	left: 50%;
	top: 0;
	bottom: 0;
	width: 4rem;
	background-color: var(--dark-gray);
	content: '';
	display: inline-block;
	z-index: -1;
}

/*
	September/October4th
*/

.bg_image_october {
	background-image: url('/assets/images/posts/october4th/google_event.png');
	background-size: cover;
	padding-top: 10rem;
}
[css-future] {
	position: relative;
}
[css-future]:after {
	content: '';
	display: inline-block;
	position: absolute;
	background-color: var(--white);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
}

[css-october-bg-image-pixel] {
	background-image: url('/assets/images/posts/Pixel/phones.png');
	background-size: contain;
	background-repeat: no-repeat;
}
[css-bg-image-main] {
	background-color: var(--white);
	box-shadow: 0 0 9em 4em var(--white);
	margin-top: 10em;
}

/*
	Custom Emoji
*/
[css-emoji] {
	background-size: contain;
	display: inline-block;
	height: 1em;
	width: 1em;
	vertical-align: -.1em;
}
[css-emoji="one"], [css-emoji="1"] {
	background-image: url('/assets/css/fonts/emoji/one.png');
}
[css-emoji="two"], [css-emoji="2"] {
	background-image: url('/assets/css/fonts/emoji/two.png');
}
[css-emoji="three"], [css-emoji="3"] {
	background-image: url('/assets/css/fonts/emoji/three.png');
}
[css-emoji="four"], [css-emoji="4"] {
	background-image: url('/assets/css/fonts/emoji/four.png');
}
[css-emoji="five"], [css-emoji="5"] {
	background-image: url('/assets/css/fonts/emoji/five.png');
}
[css-emoji="six"], [css-emoji="6"] {
	background-image: url('/assets/css/fonts/emoji/six.png');
}
[css-emoji="seven"], [css-emoji="7"] {
	background-image: url('/assets/css/fonts/emoji/seven.png');
}
[css-emoji="eight"], [css-emoji="8"] {
	background-image: url('/assets/css/fonts/emoji/eight.png');
}
[css-emoji="nine"], [css-emoji="9"] {
	background-image: url('/assets/css/fonts/emoji/nine.png');
}
[css-emoji="zero"], [css-emoji="0"] {
	background-image: url('/assets/css/fonts/emoji/zero.png');
}
[css-emoji="smile"] {
	background-image: url('/assets/css/fonts/emoji/smile.png');
}
[css-emoji="cry"] {
	background-image: url('/assets/css/fonts/emoji/cry.png');
}
[css-emoji="thinking"] {
	background-image: url('/assets/css/fonts/emoji/thinking.png');
}
[css-emoji="fireworks"] {
	background-image: url('/assets/css/fonts/emoji/fireworks.png');
}
[css-emoji="point-up"] {
	background-image: url('/assets/css/fonts/emoji/point-up.png');
}
[css-emoji="point-down"] {
	background-image: url('/assets/css/fonts/emoji/point-down.png');
}
[css-emoji="sunrise"] {
	background-image: url('/assets/css/fonts/emoji/sunrise.png');
}
[css-emoji="sick"] {
	background-image: url('/assets/css/fonts/emoji/sick.png');
}
[css-emoji="calendar"] {
	background-image: url('/assets/css/fonts/emoji/calendar.png');
}
[css-emoji="hash"], [css-emoji="#"] {
	background-image: url('/assets/css/fonts/emoji/hash.png');
}
[css-emoji="twitter"] {
	background-image: url('/assets/css/fonts/emoji/blue-bird.png');
}
[css-emoji="phone"] {
	background-image: url('/assets/css/fonts/emoji/phone.png');
}
[css-emoji="email"] {
	background-image: url('/assets/css/fonts/emoji/email.png');
}
[css-emoji="red-light"] {
	background-image: url('/assets/css/fonts/emoji/red-light.png');
}

.title {
	animation: fade-in 2s ease-in-out;
	transform: translateZ(0); /* opt in for GPU rendering  */
}
@keyframes fade-in {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
