:root {
  --light-gray: color(#FFFFFF shade(8%));
}

.h4 {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--c);
  text-underline-position: under;
  padding-bottom: .5em;
  font-size: 2.5rem;
}


.lightboxwrapper {
  margin: 1rem 0;
}
.lightboxwrapper a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.lightboximage {
  align-self: flex-start;
  max-width: 100vw;
  flex: 1 1 55vw;
  height: auto;
  margin: 0 auto;
  border: 0;
}
.lightboxtargetWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightboxtarget {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  max-width: 90vw;
  max-height: 90vh;
  z-index: 2;
}
.lightboxtargetImg {
  align-self: flex-start;
  max-width: 90vw;
  max-height: 90vh;
}
.lightboxtargetWrapper::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: var(--light-gray);
}
.lightboxtargetWrapper:not(:target) {
  display: none;
}
.lightboxcaption, .lightboxtargetCaption {
  text-align: center;
  margin: 0 0 1.5rem;
  display: block;
}

.lightboxcontent {
  margin: 3rem 0;
}

.escape {
  text-decoration: none;
  color: var(--black);
}

@media screen and (min-width: 35rem) {
  .lightboximage {
    max-width: 85vw;
  }
}
@media screen and (min-width: 45rem) {
  .lightboximage {
    max-width: 75vw;
  }
}