@import './vars.css';

@import './hljs-ocean.css';

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-family: var(--fonts);
  font-size: var(--font-size);
  transition: background-color 1s, color 1s;
}


:global(.b) {
  margin: 0;
  padding: 0;
}
