// my_new_website.scss

.swatch {
	border-radius: 4px;
	margin: 0.25em;
}
.r1 {
	background-color: $red1;
}
.r2 {
	background-color: $red2;
}
.p1 {
	background-color: $purple1;
}
.p2 {
	background-color: $purple2;
}
.b1 {
	background-color: $blue1;
}
.b2 {
	background-color: $blue2;
}
.t1 {
	background-color: $teal1;
}
.t2 {
	background-color: $teal2;
}
.g1 {
	background-color: $green1;
}
.g2 {
	background-color: $green2;
}
.y1 {
	background-color: $yellow1;
}
.y2 {
	background-color: $yellow2;
}
.o1 {
	background-color: $orange1;
}
.o2 {
	background-color: $orange2;
}
.w1 {
	background-color: $white1;
}
.w2 {
	background-color: $white2;
}
.lg1 {
	background-color: $lgray1;
}
.lg2 {
	background-color: $lgray2;
}
.dg1 {
	background-color: $dgray1;
}
.dg2 {
	background-color: $dgray2;
}